# Node
node_modules/
npm-debug.log*

# Angular build output
dist/
.angular/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
